@import 'tailwindcss';
@import './base.css';

@theme {
  --color-brand-50:   #fef2f2;
  --color-brand-100:  #fee2e2;
  --color-brand-200:  #fecaca;
  --color-brand-300:  #fca5a5;
  --color-brand-400:  #f87171;
  --color-brand-500:  #ef4444;
  --color-brand-600:  #DF312F;
  --color-brand-700:  #c42a28;
  --color-brand-800:  #991b1b;
  --color-brand-900:  #7f1d1d;
  /* Aliases usados en AppLayout y LoginView */
  --color-brand:      #DF312F;
  --color-brand-dark: #c42a28;
  --color-brand-light: #e85553;
}
